body {
	font-family: "Roboto", sans-serif;
}
.header-containers{
	width: auto !important;
}
.nav-header{
	margin-right: 150px !important;
}
.main-navigation {
	float: left !important;
}
.schedule-title-wrapper .schedule-title.active > a {
    font-weight: 100 !important;
}
.feature-event span {
    text-align: center !important;
}
.post-ratings img{
	float: left !important;
}
.post-ratings{
	position: relative;
    margin-left: 200px;
    margin-top: -24px;
    padding-bottom: 10px;
}
.image-slider-wrapper .banner-title{
	font-size: 60px !important;
}
.banner-title span{
	font-weight: 100 !important;
    font-family: "Roboto", sans-serif;
}
.navbar {
    background: #131D2B !important;
	border-radius: 0px !important;
}
.nav>li>a {
    font-size: 16px !important;
	font-family: "Roboto", sans-serif;
    color: #fff ;
	margin-left: -5px;
}
.at-navbar .featured-button {
    margin-right: 8px !important;
    right: 68px !important;
}
.at-sticky {
	    border-bottom: none !important;
}
#event_star_about-3{
	background: #243c53 !important;
	color: #fff;
}
.cus-img-home{
	width: 100% !important;
}
.site-footer {
    background-color: #233f59 !important;
}
.site-info{
	display:none !important;
}
.at-navbar .featured-button {
    float: right;
    padding: 7px 12px;
    position: fixed;
    margin-top: 10px;
    right: 204px;
    border: 1px solid #fff;
	font-family: "Roboto", sans-serif;
	font-size:16px;
	background:#111e2c;
}
#joinid{
	margin-top: 50px !important;
	font-family: "Roboto", sans-serif !important;
}
#text-7{
	margin-top: 110px !important;
}
#competition .widget-title span {
    color: #fff !important;
    float: left !important;
    font-size: 36px !important;
    font-family: "Roboto", sans-serif !important;
}
#divhead{
	padding-top: 120px;
    padding-bottom: 66px;	
}
#headre{
	color: #243c53;
    font-size: 45px;
	font-family: "Roboto", sans-serif !important;
}
#headtext{
	color: #243c53;
    font-size: 20px;
	font-family: "Roboto", sans-serif !important;
}
#headef .row{
	display: flex;
	justify-content: center;
}
#headef{
	padding-bottom: 100px !important;
}
#textvenue{
	background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/wp-content/uploads/2018/08/karate_img_2-1-e1533635877224.png) !important;
	height: 780px !important;
}
#siteorigin-panels-builder-3{
	    background: #243c53 !important;
}
#pg-w5b69085832f56-1{
	width: 77% !important;
    margin-left: 265px !important;
    color: #fff !important;
	font-family: "Roboto", sans-serif !important;
	margin-top: -120px;
}
#competitions{
	font-size: 45px !important;
    color: #fff !important;
	font-family: "Roboto", sans-serif !important;
}
#text-13{
	text-align: center;
    margin-bottom: -95px;
}

.team-author-details {
	text-align: center !important;
	font-family: "Roboto", sans-serif !important;
}
#pg-w5b6916ff792e1-0> .panel-row-style {
	height:800px !important;
}
#footertext{
	font-size: 16px !important;
	font-family: "Roboto", sans-serif !important;
}
.at-display-inline-block {
    opacity: 0.4 !important;
}
.footer-sidebar .widget-title span{
	font-size: 22px !important;
	font-family: "Roboto", sans-serif !important;
}
#text-15{
	color: #243c53;
    padding-left: 206px;
}
#ourgallery{
	color: #243c53;
    font-size: 45px !important;
	font-family: "Roboto", sans-serif !important;
}
#event_star_gallery-1 .fullwidth-container .fullwidth-row{
	margin:10px !important;
}
#neednewclothes{
	text-align: left;
    color: #243c53;
    margin-top: 70px;
	font-family: "Roboto", sans-serif !important;
}
#neednew{
	font-size:30px !important;
	font-family: "Roboto", sans-serif !important;
}
#event_star_posts_col-5 .widget-title{
	display:none !important;
}
#event_star_posts_col-5{
	margin-left: -125px !important;
}
#text-17{
	color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#text-our{
	padding-top: 125px;
    padding-left: 200px;
}
#oursponsors{
	font-size:45px !important;
	font-family: "Roboto", sans-serif !important;
}
#siteorigin-panels-builder-10{
	text-align:center;
	background:#f5f5f5;
}
#commencement{
	font-size: 45px !important;
    color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#accomondation{
	text-align:left;
}
#ccomondation{
	font-size:30px !important;
	color: #243c53;
	font-family: "Roboto", sans-serif !important;
}

#venue{	
    color: #fff;
	font-family: "Roboto", sans-serif !important;
	padding-top: 183px !important;
    padding-left: 193px !important;
    line-height: 1.5 !important;
    margin-bottom: 190px !important;
}
.intro{
	margin-top: 20px !important;
}
.text-content{
	margin-top: 40px !important;
    font-size: 18px !important;
}
#text-venue{
	font-size: 20px !important;
	padding: 5px;
	font-family: "Roboto", sans-serif !important;
}
#text-venue:before{
	position: absolute;
    content: "";
    width: 4%;
    height: 2px;
    background: #fff;
}
#venuel{
	margin-top: 230px;
	font-size: 20px;
	color:#fff;
	font-family: "Roboto", sans-serif !important;
}
#title-venue{
	font-size:45px !important;
	font-family: "Roboto", sans-serif !important;
}
.team-name{
	position:relative;
}
.team-name:before{
	position:absolute;
	content: "";
	width: 20%;
	margin: 0 auto;
	height: 2px;
	background: #000;
	bottom:-5px;
	left:0;
	right:0
}
#jion{
	font-size: 45px !important;
    color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#eventop .col-md-3{
	display:none !important;
}
#eventop{
	padding: 22px !important;
}
#text-title-download{
	font-size: 30px;
    color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#text-download-content{
	font-size: 20px;
    color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#text-accomondation{
	font-size: 22px;
    color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#content-ourgallery{
	font-size: 22px;
	padding-top: 20px;
	color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
#text-new-nedd-content{
	font-size: 22px;
	color: #243c53;
	font-family: "Roboto", sans-serif !important;
}
.schedule-title{
	float : left !important;
	color: #fff !important;
}
.schedule-title-wrapper{
	border-bottom: 1px solid #fff !important;
    background: #243c53 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}
.schedule-content-wrapper {
    padding-right: 0px !important;
}
.schedule-title-wrapper .schedule-title.active > a {
    border-bottom: 2px solid #fff !important;
}
.schedule-content-wrapper{
	background: #243c53 !important;
}
#text-schedule-title{
	font-size: 45px !important;
	color: #fff;
	font-family: "Roboto", sans-serif !important;
}
.text-schedule-content{
	font-size: 22px !important;
	color: #fff;
	font-family: "Roboto", sans-serif !important;
	margin-top: 30px !important;
}
.schedule-title-wrapper .schedule-title a {
    color: #fff !important;
	font-size: 22px !important;
}
#text-schedule{
	padding-left: 180px !important;
}
#cus-need-new .entry-header-title{
	display: none !important;
}
#test-schedule .entry-header-title{
	display: none !important;
}
.text-schedule{
	width: 100% !important;
	margin-top: -50px !important;
}
.secondary-sidebar .widget-title, .footer-columns .widget-title{
	border-bottom: 1px solid #fff !important;
}
.secondary-sidebar .widget-title::after, .footer-columns .widget-title::after{
	left: 100px !important;
    bottom: -1px !important;
    width: calc(100% - 100px) !important;
}
#menu-item-335 a{
	font-weight: bold !important;
}
.text-wkf{
	margin-top: 30px !important;
}
.btn-reverse{
	border: 2px solid !important;
}
.site-footer .footer-columns {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
}
#siteorigin-panels-builder-18{
	background: #f5f5f5 !important;
}
.cat-links{
	display: none !important;
}
.schedule-item-content .content-wrapper {
    font-size: 18px !important;
}
.team-details{
	height: 30px !important;
	overflow:hidden !important;
}
.details{
	font-size:14px !important;
}
.entry-title a{
	font-size: 16px !important;
}
.logo-karate-container .img-logo{
	text-align: left;
}
/***responsive****/
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
 	.nav>li>a{
		color: #000 !important;
		margin: 0px !important;
		left: 0px !important;
	}
	#joinid{
		line-height:1;
		margin-top: 15px !important;
		text-align: left !important;
	}
	#jion {
		font-size: 28px !important;
	}
	  .feature-event{
		  margin-top: 12px !important;
	  }
	#text-welcome{
		line-height: 1;
		font-size: 35px !important;
	}
	#text-welcome-content{
		padding-left: 0px !important;
		padding-right: 0px !important;
		line-height: 1.3 !important;
	}
	#text-welcome-bottom{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#competititon{
		padding: 0px !important;
	}
	#competititons{
		line-height: 1;
		padding-left:0px !important;
		font-size: 33px !important;
	}
	#pg-w5b73dd0f4c582-0> .panel-row-style {
    	padding: 0px !important;
    	padding-bottom: 25px !important;
    	color: #fff;
	}
	#competitionleft{
		padding-left: 10px !important;
		padding-bottom: 1px !important;		
		margin-top: -60px !important;
		font-size: 20px !important;
	}
	#divhead{
		line-height: 1;
    	padding-bottom: 85px !important;
		padding-top: 30px !important;
	}
	#pl-w5b7247369573c #panel-w5b7247369573c-0-0-0 {
    	margin: 5px 0px 0px 0px !important;
	}
	#venue{
		padding-left: 10px !important;
		padding-top: 30px !important;
    	margin-bottom: 10px !important;
	}
	#venuel{
		padding-left: 10px !important;
    	top: -255px !important;
    	position: relative;
    	text-align: center !important;
	}
	#text-download-image{
		text-align: center !important;
	}
	#textdownloadright{
		padding-left: 35px !important;
	}
	#accomondation{
		padding-left:10px !important;
		padding-top: 30px !important;
	}
	#ccomondation{
		padding-top:50px !important;
		font-size: 25px !important;	
	}
	#commencement{
		font-size: 35px !important;
	}
	#accomondationimage{
		padding: 0px !important;
	}
	#oursponsors{
		font-size: 35px !important;
	}
	#ourgallery{
		font-size: 35px !important;
	}
	#headre{
		font-size: 35px !important;
	}
	#text-our{
		padding-left: 10px !important;
		padding-top: 30px;
   		line-height: 1.5;
	}
	.textwidget{
		padding-left: 10px !important;
		line-height: 1;
	}
	.textwidget .text-wkf-s1{
		line-height: 1.5;
		margin-top: 15px;
	}
	.textwidget .text-wkf{
		line-height: 1.5;
	}
	#competitiright{
		padding-left: 10px !important;
		margin-top: -30px !important;
		font-size: 20px !important;
	}
	  .team-details{
		  display: none !important;
	  }
	  #pg-w5b73c27298691-0> .panel-row-style{
		  padding:0px !important;
	  }
	#text-15{
		padding-left: 10px !important;
	} 
	#neednewclothes{
		padding-left: 10px !important;
	}
	#cus-need-new{
		padding: 0px !important;
	}
	#text-schedule{
		padding-left: 5px !important;
		padding-top: 10px !important; 
	}
	#text-schedule-title {
		font-size: 35px !important;
	}
	.schedule-title-wrapper{
		min-height: 150px !important;
		border: none !important;
	}
	.logo-karate-container{
		padding: 0px !important;
		margin-left: -10px !important;
	}
	.img-logo{
		float: left;
    	margin-left: 85px;
	}	
	#img-chiler{
		padding: 0px !important;
	}
	.text-schedule {
    	margin-top: 0px !important;
	}
	#text-content-schedule{
		line-height:1;
		padding-top: 30px !important;
	}	
	#text-accomondation{
		padding: 0px !important;
	}
	#event_star_posts_col-5 {
   	 	margin-left: 5px !important;
	}
 	#pg-w5b7247369573c-0> .panel-row-style {
    	padding-top: 5px !important;
	}	
	#pg-w5b724eba28e3e-0> .panel-row-style {
    	padding: 10px 0px 0px 0px !important;
	}
	#pg-w5b72505ef203f-0> .panel-row-style {
    	padding: 30px 0px 0px 0px !important;
	}
	#pg-w5b72505ef203f-1> .panel-row-style {
        padding: 10px 0px 0px 0px !important;
	}
	
	#pg-w5b7259cb583a6-0> .panel-row-style {
 	   background-color: #f5f5f5;
  	   padding: 10px 10px 0px 10px !important;
	}
	#pg-w5b72564caca78-0> .panel-row-style {
    	padding: 10px 0px 10px 0px;
	} 
	#pg-w5b7259cb583a6-1> .panel-row-style{
		padding: 0px !important;			
	}
	#pg-w5b72afadbbdb8-0> .panel-row-style{
		padding: 0px !important;
	}
	#pg-w5b739d87e68ba-0> .panel-row-style{
		padding: 0px !important;
	}
	#textvenue{
		height: 810 !important;
	}
	#text-venue{
		line-height: 1.5;
	}
	#test-schedule{
		padding-right: 25px !important;
	}
	.text-schedule-content{
		line-height: 1.5 !important;
	}
	  .post-ratings{
		  margin-top: 0px !important;
		  margin-left: 0px !important;
	  }
}
@media screen and (min-device-width: 375px)  and (max-device-width: 736px){
	.nav>li>a{
		color: #000 !important;
		margin: 0px !important;
		left: 0px !important;
	}
	#joinid{
		line-height:1;
		margin-top: 10px !important;
		text-align: left !important;
	}
	#jion {
		font-size: 33px !important;
	}
	#text-welcome{
		line-height: 1;
		font-size: 35px !important;
	}
	#text-welcome-content{
		padding-left: 0px !important;
		padding-right: 0px !important;
		line-height: 1.3 !important;
	}
	#text-welcome-bottom{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	#competititon{
		padding: 0px !important;
	}
	#competititons{
		line-height: 1;
		padding-left:0px !important;
		font-size: 33px !important;
	}
	#pg-w5b73dd0f4c582-0> .panel-row-style {
    	padding: 0px !important;
    	padding-bottom: 25px !important;
    	color: #fff;
	}
	#competitionleft{
		padding-left: 10px !important;
		padding-bottom: 1px !important;		
		margin-top: -60px !important;
	}
	#divhead{
		line-height: 1;
    	padding-bottom: 85px !important;
		padding-top: 30px !important;
	}
	#pl-w5b7247369573c #panel-w5b7247369573c-0-0-0 {
    	margin: 5px 0px 0px 0px !important;
	}
	#venue{
		padding-left: 10px !important;
		padding-top: 30px !important;
    	margin-bottom: 10px !important;
	}
	#venuel{
		padding-left: 10px !important;
    	top: -255px !important;
    	position: relative;
    	text-align: center !important;
	}
	#text-download-image{
		text-align: center !important;
	}
	#textdownloadright{
		padding-left: 35px !important;
	}
	#accomondation{
		padding-left:10px !important;
		padding-top: 30px !important;
	}
	#ccomondation{
		padding-top:50px !important;
			
	}
	#commencement{
		font-size: 35px !important;
	}
	#accomondationimage{
		padding: 0px !important;
	}
	#oursponsors{
		font-size: 35px !important;
	}
	#ourgallery{
		font-size: 35px !important;
	}
	#headre{
		font-size: 35px !important;
	}
	#text-our{
		padding-left: 10px !important;
		padding-top: 30px;
   		line-height: 1.5;
	}
	.textwidget{
		padding-left: 10px !important;
		line-height: 1;
	}
	.textwidget .text-wkf-s1{
		line-height: 1.5;
		margin-top: 15px;
	}
	.textwidget .text-wkf{
		line-height: 1.5;
	}
	#competitiright{
		padding-left: 10px !important;
		margin-top: -30px !important;
	}
	#text-15{
		padding-left: 10px !important;
	} 
	#neednewclothes{
		padding-left: 10px !important;
	}
	#cus-need-new{
		padding: 0px !important;
	}
	#text-schedule{
		padding-left: 5px !important;
		padding-top: 10px !important; 
	}
	#text-schedule-title {
		font-size: 35px !important;
	}
	.schedule-title-wrapper{
		min-height: 150px !important;
		border: none !important;
	}
	.logo-karate-container{
		padding-top: 20px !important;	
	}
	.img-logo{
		float: left;
    	margin-left: 85px;
	}	
	#img-chiler{
		padding: 0px !important;
	}
	.text-schedule {
    	margin-top: 0px !important;
	}
	#text-content-schedule{
		line-height:1;
		padding-top: 30px !important;
	}	
	#text-accomondation{
		padding: 0px !important;
	}
	#event_star_posts_col-5 {
   	 	margin-left: 5px !important;
	}
 	#pg-w5b7247369573c-0> .panel-row-style {
    	padding-top: 5px !important;
	}	
	#pg-w5b724eba28e3e-0> .panel-row-style {
    	padding: 10px 0px 0px 0px !important;
	}
	#pg-w5b72505ef203f-0> .panel-row-style {
    	padding: 10px 0px 0px 0px !important;
	}
	#pg-w5b72505ef203f-1> .panel-row-style {
        padding: 10px 0px 0px 0px !important;
	}
	.logo-karate-container {
   		 padding: 0px 0px 0px 20px !important;
	}
	#pg-w5b7259cb583a6-0> .panel-row-style {
 	   background-color: #f5f5f5;
  	   padding: 10px 10px 0px 10px !important;
	}
	#pg-w5b72564caca78-0> .panel-row-style {
    	padding: 10px 0px 10px 0px;
	} 
	#pg-w5b7259cb583a6-1> .panel-row-style{
		padding: 0px !important;			
	}
	#pg-w5b72afadbbdb8-0> .panel-row-style{
		padding: 0px !important;
	}
	#pg-w5b739d87e68ba-0> .panel-row-style{
		padding: 0px !important;
	}
	#textvenue{
		height: 810 !important;
	}
	#text-venue{
		line-height: 1.5;
	}
	#test-schedule{
		padding-right: 5px !important;
	}
	.text-schedule-content{
		line-height: 1.5 !important;
	}
	.post-ratings{
		  margin-top: 0px !important;
		margin-left: 0px !important;
	  }
}
@media screen and (max-width: 1024px){ 
	.main-navigation a {
    	color: #000 !important;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.nav>li>a{
		color: #000 !important;
		margin: 0px !important;
		left: 0px !important;
	}
	#joinid{
		line-height:1;
		margin-top: 40px !important;
		text-align: left !important;
		padding-left: 30px !important;
	}
	#eventop{
		margin-top: -10px !important;
	}
	#text-welcome{
		line-height: 1;
		padding-top: 90px;
	}
	#text-welcome-content{
		padding-left: 10px !important;
		padding-right: 10px !important;
		line-height: 1.5;
	}
	#text-welcome-bottom{
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	#competititon{
		line-height: 1;
		padding-left: 10px !important;
	}
	#competitionleft{
		padding-left: 30px !important;
		padding-bottom: 0px !important;
	}
	#competitiright{
		padding-left: 30px !important;
		margin-top: -40px !important;
	}
	#divhead{
		line-height: 1;
    	padding-bottom: 85px !important;
		padding-top: 50px;
	}
	#venue{
		padding-left: 20px !important;
		margin-bottom: 5px !important;
		padding-top: 100px !important;
	}
	#venuel{
		padding-left: 10px !important;
    	margin-top: 0px !important;
    	text-align: center !important;
		position: relative;
    	top: -120px;
	}
	#text-download-image{
		text-align: center !important;
	}
	#textdownloadright{
		padding-left: 35px !important;
	}
	#accomondation{
		padding-left: 30px !important;
	}
	#text-accomondation{
		padding: 0px !important;
	}
	#text-commencement-fee{
		padding-top: 50px !important;
	}
	#accomondationimage{
		padding: 0px !important;
	}
	#event_star_posts_col-5{
		margin-left: -15px !important;	
	}
	#text-our{
		padding-left: 30px !important;
		padding-top: 50px !important;
		padding-right: 24px !important;
	}
	#text-15{
		padding-left: 30px !important;
	} 
	#neednewclothes{
		padding-left: 30px !important;
	}
	#cus-need-new{
		padding: 10px !important;
	}
	#text-schedule{
		padding-left: 10px !important;
		padding-right: 30px !important;
	}	
	.schedule-title-wrapper{
		min-height: 60px !important;
	}
	
	.img-logo{
		float: left;
    	margin-left: 85px;
	}
	#img-chiler{
		padding: 0px !important;
	}	
	.text-schedule {
    	margin-top: 0px !important;
	}
	#pg-w5b7247369573c-0> .panel-row-style {
    	padding-top: 5px !important;
	}
	#text-content-schedule{
		line-height:1;
	}
	#pg-w5b724eba28e3e-0> .panel-row-style {
    	padding: 10px 0px 0px 0px !important;
	}
	#pg-w5b72505ef203f-0> .panel-row-style {
    	padding: 40px 0px 0px 0px !important;
	}
	#pg-w5b72505ef203f-1> .panel-row-style {
        padding: 10px 0px 0px 0px !important;
	}	
	#pg-w5b72afadbbdb8-0> .panel-row-style{
		padding-top: 50px !important;
	}
	#pg-w5b7259cb583a6-0> .panel-row-style {
  	  padding: 40px 80px 0px 30px !important;
	}
	#panel-w5b729804c8952-0-0-1> .panel-widget-style{
		padding:0px !important;
	}
	.post-ratings{
		  margin-top: 0px !important;
		  margin-left: 0px !important;
	  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px){
	.nav>li>a{
		color: #000 !important;
	}
	.desktop-only{
		display: none !important;
	}	
	#pg-w5b727ffe0116a-0> .panel-row-style{
		height: 106px !important;
	}
	#eventop{
		margin-left: -165px !important;
	}
	#text-welcome{
		padding-top: 1px !important;
	}
	#competitiright{
		margin-top: 0px !important;
	}
	#venue{
		padding-top: 150px !important;
		padding-left: 50px !important;
	}
	#venuel{
		top: 0px !important;
		padding-top: 235px !important;
	}
	#text-schedule {
  	  padding-left: 50px !important;
	  padding-top: 100px !important;
	}
	.schedule-content-wrapper{
		min-height: 10px !important;
    	width: 91% !important;
    	margin-left: 10px;
	}
	#event_star_posts_col-5 {
   	 	margin-left: -115px !important;
	}
	#accomondation {
    	text-align: left;
    	margin-right: -70px !important;
	}
	.logo-karate-container{
		padding: 30px !important;
	}
	#text-accomondation {
    	padding: 0px !important;
    	margin-right: 17px !important;
	}
}